.authButton {
  width: 140px;
  height: 40px;
  border: 2px solid #9b9b9b;
  background-color: #FFF;
  color: #000;
}

.authButtonActive{
  width: 140px;
  height: 40px;
  border: none;
  background-color: #0d6efd;
  color: #FFF;
}